@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');
:root {
  --red: #dd3038;
  --orange: #e7613a;
  --light-orange: #FDF4F2;
  --black: #292929;
  --white: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: var(--black);
}
.outer-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.inner-container {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 800px;
  flex-shrink: 1;
  flex-grow: 0;
}
main {
  background-color: var(--light-orange);
  min-height: 70vh;
  padding: 50px 0;
}
